<button id="abc1" (click)="testApi()">test</button>
<p>
  <button
    type="button"
    class="btn btn-primary fa fa-refresh"
    style="float: right;"
  ></button>
</p>
<d-datatable
  #tableRef
  [gridData]="data"
  [pageSize]="7"
  [height]="'40vh'"
  [gridTitle]="'Machine List'"
>
  <d-column [label]="'Machine Name'" [dataKey]="'machineName'"></d-column>
  <d-column [label]="'Status'" [dataKey]="'status'"></d-column>
  <d-column [label]="'hostName'" [dataKey]="'hostName'"></d-column>
  <d-column [label]="'downPeriod'" [dataKey]="'downPeriod'"></d-column>
  <d-column
    [label]="'machineUserName'"
    [dataKey]="'machineUserName'"
  ></d-column>
  <!-- <d-column [label]="'currentOwner'" [dataKey]="'currentOwner'"></d-column>
  <d-column [label]="'os'" [dataKey]="'os'"></d-column>
  <d-column [label]="'ram'" [dataKey]="'ram'"></d-column>

  <d-column [label]="'cpuCores'" [dataKey]="'cpuCores'"></d-column>

  <d-column [label]="'diskSize'" [dataKey]="'diskSize'"></d-column>
  <d-column [label]="'vsphereClient'" [dataKey]="'vsphereClient'"></d-column>
  <d-column [label]="'userName'" [dataKey]="'userName'"></d-column> -->

  <d-column [label]="'Refersh'" [dataKey]="''" [width]="'100px'">
    <ng-template #columnTemplate let-row="row">
      <i class="fa fa-refresh"></i>
    </ng-template>
  </d-column>
  <d-column [label]="'Details'" [dataKey]="''" [width]="'100px'">
    <ng-template #columnTemplate let-row="row">
      <i class="fa fa-edit" data-toggle="modal" (click)="showModal(row)"></i>
    </ng-template>
  </d-column>
</d-datatable>

<!-- Modal -->
<div
  class="modal fade"
  id="myModal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="exampleModalCenterTitle"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalCenterTitle">
          Machine Details
        </h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <machine-form [data]="machineDetail"></machine-form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">
          Close
        </button>
        <button type="button" class="btn btn-primary">Update</button>
      </div>
    </div>
  </div>
</div>
